# Ignore build output
*.exe
*.out
*.o
*.obj

# Ignore compiled files
*.dll
*.so
*.dylib

# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# Code editor folders
.vscode/
.idea/
*.code-workspace

# Backup files
*~
*.swp

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
build/

# Logs
*.log

# Build & binary files
*.exe
*.obj
*.o
*.ilk
*.pdb
*.ipch
*.tlog
*.log

# Visual Studio cache files
*.suo
*.user
*.VC.db
*.opensdf
*.sdf
*.vscode
.vs/

# Windows OS junk
Thumbs.db
Desktop.ini